html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* h2 {
    font-style: italic;
} */

.primary-title {
    font-size: 80px;
    color: rgba(255, 255, 255);
}

.primary-button {
    color: #fff;
    background: linear-gradient(45deg, #fe3072, #ff5940);
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
}

.primary-button:hover {
    background: linear-gradient(260deg, #fe3072, #ff5940);
}

.secondary-button {
    color: rgb(121, 119, 119);
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 6px;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}





/* ---  NAV --- */
nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: rgb(254, 48, 114);
    background: white;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
}

nav .nav-button:disabled {
    color: rgb(193, 42, 90);
    background: rgb(189, 180, 180);
}

nav .logo-container {
    width: 170px;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}





/* --- Home Page --- */
.overlay {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.home {
    margin-top: 30vh;
}

/* --- Auth Modal --- */
.auth-modal {
    height: 600px;
    max-width: 360px;
    padding: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}





/* --- Onboaring Page--- */

.onboarding {
    border-top: solid 1px rgb(213, 213, 213);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    width: 35%;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input[type="number"] {
    width: 8%;
}

.onboarding form input[type="radio"] {
    display: none;
}

.onboarding form input[type="radio"]:checked+label {
    border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="submit"]:hover {
    background: rgb(235, 235, 235);
    background: mediumvioletred;
}

.onboarding form input[type="submit"]:active {
    background: rgb(226, 115, 155);
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    margin-right: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
}

.onboarding form .photo-container img {
    width: 100%;
}





/* --- Dashboard--- */
.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard .card-container {
    /* width: 90vw; */
    width: 400px;
    height: 650px;
}

.card {
    background-color: #fff;
    width: 80vw;
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}


.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px 13px;
    color: #fff;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    font-size: 1.5rem;
}





/* --- Chat Container--- */
.chat-container {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: left;
    width: 30%;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, #fe3072, #ff5940);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container .option {
    margin: 2px;
    padding: 10px;
    font-size: 20px;
    background: white;
    border: none;
    border-bottom: solid 4px rgb(243, 33, 33);
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187,187,187);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
}

.chat-container .log-out-icon {
    font-style: normal;
    /* transform: scaleX(-1); */
    /* display: inline-block; */
}

.img-container {
    width: 30px;
    height: 30px;
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.img-container img {
    width: 100%;
}





/* --- Chat Display--- */
.chat-display,
.matches-display {
    height: 60vh;
    padding: 20px;
    overflow-y: auto;
}

/* --- Chat Input-- */
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}